<div>
  <%= flash[:notice] %>
</div>

<div class="container">
  <div class="row">
    <div class="col-3">
      <div class="row">
        <%= render 'users/info', user: @user %>
      </div>
      <div class="row">
        <%= render 'form', book: @book_new %>
      </div>
    </div>

    <div class="col-8 offset-1 mt-3">
      <h2>Book detail</h2>

      <table class="table">
        <tr>
          <th style="width: 15%">
            <%= image_tag @user.get_profile_image(100,100) %>
            <p><%= link_to @book.user.name, user_path(@book.user_id), style:"font-weight: normal"%></p>
          </th>
          <th style="width: 20%"><%= link_to @book.title, book_path(@book.id), style:"font-weight: normal"%></th>
          <td><%= @book.body %></td>
          <% if @book.user == current_user %>
            <td><%= link_to "Edit", edit_book_path(@book.id), class: "btn btn-success" %></td>
            <td><%= link_to "Destroy", book_path(@book.id), method: :delete, class: "btn btn-danger" %></td>
          <% end %>
        </tr>
      </table>
    </div>
  </div>
</div>